<h1>TinyApp</h1> 
<form method="POST" action="/login">

<input class="form-control" type="text" name="username" placeholder="" style="width: 300px; margin: 1em">

<button type="submit">SUBMIT</button>
        </form>