<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <%= //create a for in loop  %> 
    <% //let web = (Object.keys(urls)); %>
     <header>
    <% include ../views/partials/_header.ejs %>
</header>
<%console.log(urlDatabase)%>
<%for (var property in urlDatabase){%>
<%console.log("short url in database", property);%>
<%console.log("wanted short url",shortURL);%>
<%if (urlDatabase[property].userID === user.id && property === shortURL){%>
<p> <%=shortURL%> : <%=longURL%></p> 
<form method="POST" action="/urls/<%=shortURL%>/update">
<input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">

<button type="submit">UPDATE</button>
<%}%>
<%}%>
 </form>
<a href='#'>To shorten url</a>
</body> 

</ul>
 
</html> 