<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <%= //create a for in loop  %> 
    <% //let web = (Object.keys(urls)); %>
   <header>
    <% include ../views/partials/_header.ejs %>
    </header>
  <ul>
<%for (var property in urls){  %>
        <li><%=property %> : <%= urls[property].longURL%>
        <form method="POST" action="/urls/<%=property%>/delete">
        <button type="submit">DELETE</button>
        </form>
        </li>

        <% }%> 
    
</ul>

<a href='#'>To shorten url</a>
</body> 

</ul>
 
</html> 